.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
    margin: 0;
    /* border: 2px solid pink; */
  }