.oakley {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    padding-top: 160px;
    background-color: #f2f2f2;
    /* background-color: aqua;
     border: 2px solid red; */
}