.header__subtitle {
    max-width: 388px;
    width: 100%;
    position: absolute;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    /* border: 1px solid orange; */
  }